
.bsearch{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #ebc700;
    margin-left: 10px;
}
.bsearch:hover{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ebc700 ;
    cursor: pointer;
}
.isearch{
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #ebc700;
}
.fcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}